__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage/
htmlcov/

.env
.env.*

.git/
.github/

venv/
.venv/
env/

dist/
build/

*.log

instance/
uploads/

node_modules/
